<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{{ page_title|default('eshop') }}{% endblock %}</title>
        {#<link rel="stylesheet" href="{{ asset('assets/fonts/glyphicons-halflings-regular.woff') }}">#}
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item"><a class="nav-link" href="{{ logout_path() }}">Odhl치si콘 sa</a></li>
                    {% endif %}
                    <li class="nav-item"><a class="nav-link" href="{{ path('admin_blog_index') }}">Blog</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ path('admin_admins') }}">Admini</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item"><a class="nav-link" href="{{ path('front_homepage') }}">Hlavn치 str치nka</a></li>
                    {#<li class="nav-item"><a class="nav-link" href="{{ path('front_blog_index') }}">Front Blog</a></li>#}
                </ul>
            </div>
        </nav>

        <div id="js-flash-messages-wrapper">
            {% include('front/_includes/_flash_messages.html.twig') %}
        </div>

        <div class="container">
            {% block content %}{% endblock %}
        </div>
        <footer class="text-center">
            Made by Adam Petroff
        </footer>
    </body>
</html>